---
import HeaderLink from '../HeaderLink.astro';
---

<nav class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200">
  <ul class="flex space-x-8">
    <li><HeaderLink href="/">Home</HeaderLink></li>
    <li><HeaderLink href="/blog">Blog</HeaderLink></li>
    <li><HeaderLink href="/about">About</HeaderLink></li>
  </ul>
</nav>